<div class="row">
    <div class="col-md-4 block1">
        <form name="join_form" novalidate ng-submit="joinForm()" class="mt-30 " action="payment-details">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input
                    ng-model="firstName"
                    name="firstName"
                    class="form-control"
                    required
                    type="text"
                    id="firstName"
                    ng-maxlength="24"
                    placeholder=""
                    validate-alphanumeric
                    >
                <div class="tick" ng-show="join_form.firstName.$dirty && join_form.firstName.$valid"></div>
                <div class="error"
                     ng-show="join_form.firstName.$dirty && join_form.firstName.$invalid">
                    <small class="error"
                           ng-show="join_form.firstName && join_form.firstName.$error.required">
                        Your name is required.
                    </small>
                    <small class="error"
                           ng-show="join_form.firstName.$error.maxlength">
                        Your name cannot be longer than 24 characters
                    </small>
                    <small class="error"
                           ng-show="join_form.firstName.$error.validCharacters">
                        Please only use letters and numbers.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Family name</label>
                <input
                    ng-model="lastName"
                    name="lastName"
                    class="form-control"
                    required
                    type="text"
                    id="lastName"
                    ng-maxlength="24"
                    ng-minlength="4"
                    placeholder=""
                    validate-alphanumeric
                    >
                <div class="tick" ng-show="join_form.lastName.$dirty && join_form.firstName.$valid"></div>
                <div class="error"
                     ng-show="join_form.lastName.$dirty && join_form.lastName.$invalid">
                    <small class="error"
                           ng-show="join_form.lastName && join_form.lastName.$error.required">
                        Your name is required.
                    </small>
                    <small class="error"
                           ng-show="join_form.lastName.$error.maxlength">
                        Your name cannot be longer than 24 characters
                    </small>
                    <small class="error"
                           ng-show="join_form.lastName.$error.validCharacters">
                        Please only use letters and numbers.
                    </small>
                    <small class="error"
                           ng-show="join_form.lastName.$error.minlength">
                        too short
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input
                    ng-model="email"
                    name="email"
                    class="form-control"
                    required
                    type="email"
                    id="email"
                    placeholder=""
                    >
                <div class="tick" ng-show="join_form.email.$dirty && join_form.firstName.$valid"></div>
                <div class="error"
                     ng-show="join_form.email.$dirty && join_form.email.$invalid">
                    <small class="error"
                           ng-show="join_form.email && join_form.email.$error.required">
                        Please enter an email address
                    </small>
                    <small class="error"
                           ng-show="join_form.email.$error.email">
                        Not a valid email address
                    </small>
                </div>
            </div>

            <div class="">
                <div>
                    <label>Gender</label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input  ng-model="gender" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Male
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input  ng-model="gender" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="dob">Date of birth</label>
                <input  ng-model="dob" type="date" class="form-control" id="dob" placeholder="">
            </div>
            <div class="form-group" ng-controller="oshcPrototypeCtrl">
                <label for="coo">Country of origin</label>
                <select id="coo" type="text" list="country" placeholder="Search...">
                    <option ng-repeat="country in countries"> {{country.name}}</option>
                </select>

            </div>
            <div class="checkbox mt-30">
                <label>
                    <input  ng-model="terms" type="checkbox"> I have read and accept to the nib OSHC <a href="">terms and conditions</a>
                </label>
            </div>
            <button type="submit" ng-disabled="join_form.$invalid" class="btn btn-info mt-30 pull-right">Continue to payment <span class="glyphicon glyphicon-chevron-right"></span></button>
            <a href="#/payment-details">Page 2</a>
        </form>
    </div>
</div>